.App, .full-screenable-node {
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
  font-family: 'Rock Salt', cursive;
}

.App-title, .o::before {
  background: url(abstract-art-artistic-990826.jpg) center;
  background-position: 50% 40%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.App-title {
  font-size: 200px;
  animation: textAnimated 30s ease-in-out infinite;
}

.o::before {
  width: 250px;
  content: '>';
  position: absolute;
  font-size: 250px;
  transform: rotate(90deg);
  top: 35%;
  left: 42.5%;
  animation: textAnimated 60s ease-in-out infinite;
  cursor: pointer;
}

@keyframes textAnimated {
  0% { background-position: 0% 40% }
  50% { background-position: 100% 40% }
  100% { background-position: 0% 40% }
}

@keyframes textScaled {
  0% { transform: scale(1) }
  50% { transform: scale(1.1) }
  100% { transform: scale(1) }
}

header {
  position: relative;
  height: 100vh;
}

p {
  font-family: Quicksand;
  font-size: 30px;
  position: absolute;
  top: 65%;
  left: 48.1%;
  cursor: pointer;
  animation: textScaled 2s ease-in-out infinite;
}

/* FULLSCREEN */
.full-screenable-node {
  min-height: 100vh;
  height: 100%;
  position: relative;
}

h2, .input-name {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  font-family: Quicksand;
  font-size: 50px;
}

h2 {
  font-weight: 400;
}

.input-name {
  border: none;
  outline: none;
}